@use "../util" as *;

.hamburger {
  position: relative;
  width: 40px;
  z-index: 1;

  &::after, &::before, span {
    background: $oscuro;
    content: "";
    display: block;
    height: 3px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;

    @include breakpoint (medium) {
      height: 5px;
    }
  }

  @include breakpoint(large) {
    display: none;
  }
}

.transform_active {
  &::before {
    transform: translateY(10px) rotate(135deg);
  }

  &::after {
    transform: translateY(-10px) rotate(-135deg);
  }

  span {
    transform: scale(0);
  }

  @include breakpoint (medium) {
    width: 50px;
  }
}