@use "../util/" as *;

.tienda {
  gap: 60px;

  &__categories {
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 35px;
    border-bottom: 1px solid $oscuro;
    font-weight: 600;

    @include breakpoint (medium) {
      border: none;
      align-self: flex-start;
      flex-direction: column;
      align-items: flex-start;
      font-weight: 600;
    }
  }

  &__products {
    gap: 50px;
    max-width: 1280px;
    
    @include breakpoint (medium) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 80px;
    }

    @include breakpoint (large) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 100px;
    }
  }

  @include breakpoint (medium) {
    margin: 0 5%;
    border-top: 1px solid $oscuro;
    padding: 50px 0;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 100px;
  }
}

.product {
  gap: 20px;

  h3 {
    font-weight: 500;
  }

  img {
    width: 50%;

    @include breakpoint (medium) {
      width: 100%;
    }
  }

  &__price {
    font-weight: 700;
  }

  @include breakpoint (medium) {
    gap: 30px;
  }

  &__form {
    gap: 20px; 
  }
}

.buyer, .owner {
  display: none;
}

.user-selector {
  gap: 50px;
  button {
    display: none;
  }
}
