@use "../util/" as *;

.gallery {
  padding: 0 50px 150px 50px;
  gap: 50px;

  img {
    width: 100%;

    @include breakpoint (medium) {
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center center;
    }
  }

  @include breakpoint (medium) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint (large) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}