@use "../util/" as *;

body {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: $fuente;
  display: grid;
  gap: 65px;
  grid-template-areas:
  "nav"
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 85px auto 1fr auto;

  @include breakpoint (medium) {
    grid-template-rows: auto auto 1fr auto;
  }

  @include breakpoint (large) {
    gap: 125px;
  }
}

nav {
  grid-area: nav;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.flex {
  display: flex;

  &__col {
    @extend .flex;
    flex-direction: column;
  }

  &--center {
    @extend .flex;
    align-items: center;
    justify-content: center;
  }
}

a, a:visited {
  text-decoration: none;
  color: $fuente;
  cursor: pointer;
}

.center-text {
  text-align: center;
}

.button {
  @extend .center-text;
  background-color: $oscuro;
  color: $blanco;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 16px;

  @include breakpoint(medium) {
    font-size: 18px;
  }
}

.font-base {
  font-style: normal;
}

.h_base {
  @extend .font-base;
  font-family: orpheus, serif;
  font-weight: 400;
}

h1, h2 {
  @extend .h_base;
  font-size: 42px;
  line-height: 110%;

  @include breakpoint (medium) {
    font-size: 72px;
  }
}

h2 {
  @include breakpoint (medium) {
    font-size: 48px;
  }
}

h3 {
  @extend .h_base;
  font-size: 24px;

  @include breakpoint (medium) {
    font-size: 36px;
  }
}

p {
  @extend .font-base;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;

  @include breakpoint (medium) {
    font-size: 20px;
    line-height: 28px;
  }
}

.circle-image {
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center center;
}

.container {
  @extend .flex__col, .flex--center, .center-text;
  padding: 0 30px;

  @include breakpoint (medium) {
    padding: 0 8%;
  }
}

.header {
  @extend .flex__col;
  gap: 35px;
  padding: 150px 30px 90px 30px;
  margin-top: -138px;
  background-position: center center;
  background-size: cover;
  justify-content: center;
  min-height: 75vh;
  
  p {
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1.2px;

    @include breakpoint (medium) {
      font-size: 24px;
      line-height: 36px;
    }
  }

  @include breakpoint (medium) {
    margin-top: -210px;
    padding: 200px 50px 120px 50px;
    gap: 50px;
    min-height: 100vh;
  }

  @include breakpoint (large) {
    margin-top: -280px;
    padding-top: 280px;
  }

  &>* {
    @include breakpoint(large) {
      max-width: 75%;
    }
  }
}

main {
  @extend .flex__col, .flex--center;
  gap: 80px;

  @include breakpoint (large) {
    gap: 125px;
  }
}

.important-text {
  @extend .font-base;
  font-weight: 700;
  font-size: 18px;
}